<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Tienda</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">

    <link rel="stylesheet" href="../../assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="../../assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
<div id="app">
    <!-- SIDEBAR: Datos de la barra de la izquierda -->
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a th:href="@{/}"><img src="../../assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">

                    <li class="sidebar-title">Usuario</li>
                    <li class="sidebar-item  has-sub">
                        <span th:switch="${isLogin}">
                            <span th:case="0">
                                <a href="#" class='sidebar-link'>
                                    <i class="bi bi-person"></i>
                                    <span>Usuario</span>
                                </a>
                                <ul class="submenu ">
                                    <li class="submenu-item ">
                                        <a th:href="@{/login}">Iniciar sesion</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/signup}">Crear cuenta</a>
                                    </li>
                                </ul>
                            </span>

                            <span th:case="1">
                                <a href="#" class='sidebar-link'>
                                    <i class="bi bi-person"></i>
                                    <span th:text="${usuario}"></span>
                                </a>
                                <ul class="submenu ">
                                    <li class="submenu-item ">
                                        <a th:href="@{/logout}">Cerrar sesion</a>
                                    </li>
                                </ul>
                            </span>
                        </span>

                    <li class="sidebar-title">Menu</li>
                    <li class="sidebar-item ">
                        <a th:href="@{/}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Inicio</span>
                        </a>
                    </li>

                    <li class="sidebar-item ">
                        <a th:href="@{/user/mi-carrito}" class='sidebar-link'>
                            <i class="bi bi-cart4"></i>
                            <span>Carrito</span>
                        </a>
                    </li>
                    <span th:switch="${rol}">
                        <span th:case="admin">
                            <li class="sidebar-title">Administrador</li>
                            <li class="sidebar-item  has-sub active">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-box-seam"></i>
                                <span>Producto</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item active">
                                    <a th:href="@{/admin/inventario}">Productos</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/admin/crearProducto}">Crear Producto</a>
                                </li>
                            </ul>

                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-card-checklist"></i>
                                <span>Historial de Pedidos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-lines-fill"></i>
                                <span>Listado de usuarios</span>
                            </a>
                        </li>
                            </li>
                        </span>

                    </span>


                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <!-- Fin Barra -->
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <h3>Inventario de la Mini tienda</h3>
            <p><small><i>Productos registrados con y sin stock.</i></small></p>
        </div>
        <div class="page-content">
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        Productos en inventario
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Disponibilidad</th>
                                <th>Estado</th>
                                <th>Descripcion</th>
                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="item : ${productos}"
                                th:if="${(item.estado != 0)}"
                            >
                                <td th:text="${item.nombre}"></td>
                                <td th:text="${item.precio}"></td>
                                <td th:text="${item.cantidad}"></td>
                                <span th:switch="${item.estado}">
                                    <td th:case="1" th:text="Publico"></td>
                                    <td th:case="2" th:text="Privado"></td>
                                </span>
                                <td th:text="${item.descripcion}"></td>
                                <td>
                                    <a class="btn btn-success" th:href="'/admin/producto/editar/'+${item.id}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger" th:href="'/admin/producto/eliminar/'+${item.id}"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>Eliam Pimentel - 10138836</p>
                </div>
                <div class="float-end">
                    <a ><h3><span class="text-success"><i class="bi bi-box-arrow-in-right"></i></span></h3></a>
                    <a href="#"><h3><span class="text-danger"><i class="bi bi-box-arrow-right"></i></span></h3></a>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="../../assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>

<script src="../../assets/vendors/apexcharts/apexcharts.js"></script>
<script src="../../assets/js/pages/dashboard.js"></script>

<script src="../../assets/js/main.js"></script>

<script src="../../assets/vendors/simple-datatables/simple-datatables.js"></script>
<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>


</body>

</html>